<section class="slice-lg has-bg-cover bg-size-cover"  bottom center>
  <div class="container">
    <div class="row justify-content-center cols-xs-space">
      <div class="col-lg-4">
        <div class="form-card form-card--style-2 z-depth-2-top">
          <div class="form-header text-center">
            <div class="form-header-icon">
              <i class="icon ion-log-in"></i>
            </div>
          </div>
          <div class="form-body">
            <div class="text-center px-2">
              <h4 class="heading heading-4 strong-400 mb-4">S'enregistrer</h4>
            </div>
            <form class="form-default" role="form">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Prénom</label><br>
                      <%= f.text_field :first_name, autofocus: true, autocomplete: "Edgar", :class =>"form-control form-control-lg" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Nom</label><br>
                      <%= f.text_field :last_name, autofocus: true, autocomplete: "Dupont", :class =>"form-control form-control-lg" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Date de naissance</label><br>
                      <%= f.date_field :birthdate, autofocus: true, :class =>"form-control form-control-lg" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Pays</label><br>
                      <%= f.text_field :country, autofocus: true, autocomplete: "France", :class =>"form-control form-control-lg" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Ville</label><br>
                      <%= f.text_field :city, autofocus: true, autocomplete: "Rennes", :class =>"form-control form-control-lg" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Code Postal</label><br>
                      <%= f.number_field :postal_code, autofocus: true, autocomplete: "35000", :class =>"form-control form-control-lg" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group has-feedback">
                      <label>Email</label><br>
                      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class =>"form-control form-control-lg" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Présentation</label><br>
                      <%= f.text_field :bio, autofocus: true, autocomplete: "Présentez vous", :class =>"form-control form-control-lg" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label>Mot de passe</label><br>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br>
                      <%= f.password_field :password, autocomplete: "new-password", :class =>"form-control form-control-lg" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="form-group has-feedback">
                      <label>Confirmation du mot de passe</label><br>
                      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class =>"form-control form-control-lg" %>
                    </div>
                  </div>
                </div>
                <%= f.submit "S'enregistrer", :class =>"btn btn-styled btn-lg btn-block btn-base-1 mt-4" %>
              <% end %>
            </form>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
