<% content_for(:title) do %>
  <%= "Speak&Up | Mes connections" %>
<% end %>
<section class="slice-sm sct-color-1">
  <div class="profile">
    <div class="container">
      <div class="row cols-xs-space cols-sm-space cols-md-space">
        <div class="col-lg-4">
          <div class="sidebar sidebar-inverse bg-base-1 sidebar--style-2 no-border stickyfill">
            <div class="widget">
              <div class="profile-picture profile-picture--style-2">
                <% if @user.avatar.attached? %>
                  <%= image_tag @user.avatar, class: 'img-center' %>
                <% else %>
                  <%= image_tag "profil.jpg", class: 'img-center' %>
                <% end %>
                <%= link_to '', edit_user_registration_path, class: 'btn-aux' %>
              </div>
              <div class="profile-details">
                <h2 class="heading heading-4 strong-500 profile-name"><%= @user.first_name %> <%= @user.last_name %></h2>
                <h3 class="heading heading-light heading-6 strong-400 profile-location"><%= @user.city %>, <%= @user.country %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="main-content">
            <% provide(:title, @title) %>
            <div class="row align-items-center">
              <div class="col-lg-6 col-12">
                <h2 class="heading heading-6 strong-600 mb-0 text-capitalize strong-500 mb-0">
                    <a href="#" class="link text-underline--none">
                      <i class="ion-ios-arrow-back"></i> Contacts
                    </a>
                </h2>
              </div>
              <div class="col-lg-6 col-12">
              </div>
            </div>
          </div>
          <div class="link-menu link-menu--style-3 py-4 border-bottom">
            <% if @user == current_user %>
              <%= link_to 'Mon profil', current_user %>
              <%= link_to 'Modifier mon profil', edit_user_registration_path %>
              <%= link_to 'Mes contacts', match_user_path(current_user), class: 'active' %>
              <%= link_to 'Mes demandes', following_user_path(current_user) %>
              <%= link_to 'Messagerie', user_chats_path(current_user) %>
                <% else %>
                  <%= link_to 'Mon profil', current_user, class: 'active'%>
              <% end %>
          </div>
          <div class="row cols-md-space cols-sm-space cols-xs-space">
            <% if @users.any? %>
              <% @users.each do |user| %>
                <div class="col-lg-4">
                  <div class="block block--style-3">
                    <div class="profile-picture profile-picture--style-2">
                      <% if user.avatar.attached? %>
                        <%= link_to (image_tag user.avatar, class: "img-center"), user %>
                      <% else %>
                        <%= link_to (image_tag "profil.jpg", class: "img-center"), user %>
                      <% end %>
                    </div>
                    <div class="block-body text-center">
                      <h3 class="heading heading-6 strong-600 mb-0 mb-0 c-orange">
                        <%= "#{user.first_name} #{user.last_name}" %>
                      </h3>
                      <h3 class="heading heading-light heading-sm strong-300 c-black">
                        <%= user.city %>
                      </h3>
                      <div class="aux-info-wrapper border-top">
                        <ul class="aux-info">
                          <li class="heading strong-400 text-center">
                            <span class="d-block strong-600">
                              Parle :
                              <% user.spoken_languages.each do |language| %>
                                <%= "#{Language.find(language.language_id).name}, " %>
                              <% end %>
                            </span>
                            <span class="d-block strong-600">
                              Apprends à parler :
                              <% user.wanted_languages.each do |language| %>
                                <%= "#{Language.find(language.language_id).name}, "%>
                              <% end %>
                            </span>
                          </li>
                        </ul>
                      </div>
                      <div>
                        <%= link_to 'Voir le profil', user %><br>
                        <% if @other_user != current_user %>
                          <%= link_to 'Envoyer un message', user_chats_path(current_user) %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
